<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
  </head>
  <body>
    <div id="topBar">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {%for category in categories %}
        <li class="nav-item" role="presentation">
          <a href="#content" role="tab" class="nav-link" id="load_home">
            {{category.type}}
          </a>
        </li>
        {%endfor%}
      </ul>
    </div>
    <div id="content"></div>
    {%for category in categories %}
    <script>
      $(document).ready(function () {
        $("#load_home").on("click", function () {
          $("#content").load("form/edit_category.html");
        });
      });
    </script>
    {%endfor%}

    <!-- <div style="border: fa-border; margin: 20px; background-color: #defffb;">
      <nav class="nav nav-pills flex-column flex-sm-row">
        {% for category in categories %}
        <a
          class="flex-sm-fill text-sm-center nav-link"
          id="nav-cat"
          href="#category-id"
          >{{category.type}}</a
        >
        {%endfor %}
      </nav id= "category-id">
      <div>
        {% block content %}{% endblock content %}
      </div> -->

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
